.marker {
  background-color: rgba(204, 123, 123, 0.767);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
}

.stationMarker {
  background-color: rgba(219, 168, 59, 0.767);
  border-radius: 50%;
  /* width: 25px; */
  /* height: 25px; */
  padding: 0;
  border: none;
}

button:focus {
  outline: none;
}

.chartBox {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  width: 400px;
  height: 250px;
}
